@charset "UTF-8";
/* Указываем box sizing */
* {
  box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
form {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

@font-face {
  font-family: Aleo-Regular;
  src: url("../../dist/fonts/Aleo-Regular/aleo-regular-webfont.woff2") format("woff2"), url("../../dist/fonts/Aleo-Regular/aleo-regular-webfont.woff") format("woff"), url("../../dist/fonts/Aleo-Regular/aleo-regular-webfont.ttf") format("truetype");
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 1200px) and (min-width: 997px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 996px) and (min-width: 767px) {
  .container {
    max-width: 766px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 767px) and (min-width: 577px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 576px) and (min-width: 426px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .container {
    width: 100%;
  }
}

main {
  max-width: 1770px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header {
  position: relative;
  width: 100%;
  height: 740px;
  text-align: center;
  background-image: url("./pexels-photo-131743.jpg");
  z-index: 1;
}
@media screen and (max-width: 1200px) and (min-width: 997px) {
  header {
    background-position: 20% 0%;
  }
}
@media screen and (max-width: 996px) and (min-width: 767px) {
  header {
    background-position: 25% 0%;
  }
}
@media screen and (max-width: 767px) and (min-width: 577px) {
  header {
    background-position: 26% 0%;
  }
}
@media screen and (max-width: 576px) and (min-width: 426px) {
  header {
    background-position: 25% 0%;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  header {
    background-position: 25% 0%;
  }
}
header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 740px;
  left: 0;
  top: 0;
  background-color: rgba(18, 18, 18, 0.2);
  z-index: -1;
}

.header_logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: white;
  margin-top: 269px;
  margin-bottom: 17px;
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .header_logo {
    font-size: 2.5rem;
  }
}

.header_slogan {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 5.82px;
  color: white;
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .header_slogan {
    font-size: 1.1rem;
  }
}

.search_form_container {
  margin: 54px auto 0;
  max-width: 644px;
  height: 60px;
  background-color: #fff;
}

form {
  display: flex;
  align-items: center;
  height: 60px;
  width: 650px;
}
@media screen and (max-width: 767px) and (min-width: 426px) {
  form {
    width: 70%;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  form {
    width: 95%;
  }
}

.search_field {
  font-family: "Aleo-Regular", serif;
  line-height: 26px;
  color: #fff;
  font-size: 0.875rem;
  height: 56px;
  width: 77%;
  border: none;
  outline: none;
  margin-left: 2px;
  padding-left: 13px;
  line-height: 56px;
  font-size: 18px;
  padding-right: 5px;
  color: #999999;
}
.search_field::placeholder {
  font-family: "Aleo-Regular", serif;
  line-height: 26px;
  color: #fff;
  font-size: 0.875rem;
  font-size: 0.875rem;
  color: #999999;
  letter-spacing: 2.8px;
  text-align: center;
  line-height: 56px;
}
@media screen and (max-width: 767px) and (min-width: 426px) {
  .search_field {
    width: 85%;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .search_field {
    width: 85%;
  }
}

.search_submit_button {
  font-family: "Aleo-Regular", serif;
  line-height: 26px;
  color: #fff;
  text-align: center;
  background-color: #5372fd;
  font-size: 1rem;
  width: 33%;
  height: 56px;
  border-radius: 0;
  border: none;
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none !important;
  background-color: #5372fd;
}
.search_submit_button span {
  padding: 0 14px 0 25px;
}
.search_submit_button:hover {
  cursor: pointer;
  transition: 0.1s all ease;
  background-color: #1c45fd;
}
.search_submit_button:active {
  border: 0 !important;
  outline: 0 !important;
  background-color: #01187e;
  transition: 0.2s all ease;
}
@media screen and (max-width: 767px) and (min-width: 426px) {
  .search_submit_button {
    width: 15%;
    justify-content: center;
  }
  .search_submit_button span {
    display: none;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .search_submit_button {
    width: 15%;
    justify-content: center;
  }
  .search_submit_button span {
    display: none;
  }
}

.scroll_down {
  width: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 120px auto 0;
}
.scroll_down a {
  font-family: "Aleo-Regular", serif;
  line-height: 26px;
  color: #fff;
  font-size: 0.875rem;
  font-size: 0.875rem;
  color: white;
  letter-spacing: 2.8px;
  text-decoration: none;
}
.scroll_down span {
  display: block;
  margin-bottom: 15px;
}
.scroll_down a:hover span {
  font-size: 1rem;
}
.scroll_down svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.scroll_down a:hover svg {
  transform: scale(1.4);
}

nav {
  background-color: #5372fd;
  width: 100%;
}
@media screen and (max-width: 767px) and (min-width: 315px) {
  nav {
    order: -1;
    position: fixed;
    top: 0;
    z-index: 10;
  }
}

.nav_container {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2.4px;
  line-height: 80px;
}

.nav_list {
  width: 100%;
  display: flex;
  background-color: #5372fd;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) and (min-width: 315px) {
  .nav_list {
    opacity: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 767px) and (min-width: 315px) {
  .nav_item:last-child {
    padding-bottom: 30px;
  }
}
.nav_item a {
  display: inline-block;
  height: 50px;
  font-family: "Aleo-Regular", serif;
  line-height: 26px;
  color: #fff;
  font-size: 0.875rem;
  position: relative;
  text-decoration: none;
  line-height: 50px;
}
.nav_item a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 8px;
  background-color: white;
}
@media screen and (max-width: 767px) and (min-width: 315px) {
  .nav_item a {
    font-size: 1.375rem;
    padding: 35px;
  }
  .nav_item a:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -15px;
    background-color: white;
  }
}

.nav_item + .nav_item {
  margin-left: 42px;
}

input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.burger_menu {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 20px;
  display: none;
}
@media screen and (max-width: 767px) and (min-width: 315px) {
  .burger_menu {
    display: block;
  }
}

.burger_menu svg {
  position: absolute;
  right: 4px;
  top: 4px;
  fill: #E8E8E8;
}

#toggle_menu:checked + .nav_list {
  position: fixed;
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #5372fd;
  left: 0;
  top: 0;
  text-align: center;
}
#toggle_menu:checked + .nav_list .nav_item + .nav_item {
  margin-left: 0;
}

#toggle_menu:checked .burger_menu {
  opacity: 1;
  z-index: 300;
}

.burger_menu .burger_menu_burger {
  opacity: 0;
  z-index: 300;
}

.burger_menu .burger_menu_cross {
  opacity: 0;
  z-index: 300;
}

#toggle_menu:checked + .nav_list + .burger_menu .burger_menu_cross {
  opacity: 1;
  z-index: 300;
}

#toggle_menu:not(:checked) + .nav_list + .burger_menu .burger_menu_burger {
  opacity: 1;
  z-index: 300;
}

.about_us {
  position: relative;
  background-image: url("../images/pexels-photo-134638.jpg");
  background-position: 0 17%;
  background-size: 1770px;
  z-index: 1;
}
@media screen and (max-width: 1200px) and (min-width: 997px) {
  .about_us {
    background-position: 10% 17%;
  }
}
@media screen and (max-width: 996px) and (min-width: 767px) {
  .about_us {
    background-position: 15% 17%;
  }
}
@media screen and (max-width: 767px) and (min-width: 577px) {
  .about_us {
    background-position: 19% 17%;
  }
}
@media screen and (max-width: 576px) and (min-width: 426px) {
  .about_us {
    background-position: 21% 17%;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .about_us {
    background-position: 30% 17%;
  }
}
.about_us::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: -1;
}

.about_us_container {
  height: 690px;
  display: flex;
}
@media screen and (max-width: 576px) and (min-width: 315px) {
  .about_us_container {
    flex-direction: column;
    height: auto;
  }
}

.about_us_text_container {
  width: 50%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) and (min-width: 577px) {
  .about_us_text_container {
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (max-width: 576px) and (min-width: 315px) {
  .about_us_text_container {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-left: 0px;
  }
}

.about_us_header {
  font-family: "Aleo-Regular", serif;
  line-height: 26px;
  color: #fff;
  font-weight: 500;
  font-size: 2.25rem;
  margin-top: 190px;
  margin-bottom: 58px;
}
@media screen and (max-width: 1200px) and (min-width: 997px) {
  .about_us_header {
    margin-top: 150px;
  }
}
@media screen and (max-width: 996px) and (min-width: 767px) {
  .about_us_header {
    margin-top: 120px;
  }
}
@media screen and (max-width: 767px) and (min-width: 577px) {
  .about_us_header {
    margin-top: 0px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 576px) and (min-width: 426px) {
  .about_us_header {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .about_us_header {
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 45px;
  }
}

.about_us_text {
  max-width: 524px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 1rem;
  color: #e8e8e8;
  letter-spacing: 1.2px;
  line-height: 26px;
  padding-left: 3px;
}

.about_us_text + .about_us_text {
  margin-top: 32px;
  margin-bottom: 49px;
}
@media screen and (max-width: 576px) and (min-width: 426px) {
  .about_us_text + .about_us_text {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .about_us_text + .about_us_text {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.button_main {
  position: relative;
  width: 225px;
  height: 60px;
  background: #5474fd;
  overflow: hidden;
  border: none;
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .button_main {
    margin-bottom: 20px;
  }
}
.button_main span {
  position: relative;
  font-family: "Aleo-Regular", serif;
  line-height: 26px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1.2px;
  z-index: 1;
}
.button_main:hover .button_main_s {
  right: -210px;
  transition: 0.3s all ease;
}
.button_main:active .button_main_s {
  background-color: #01187e;
  transition: 0.1s all ease;
}
.button_main:focus {
  outline: 1px solid white !important;
}
.button_main .button_main_s {
  position: absolute;
  right: -35px;
  top: 0;
  width: 500px;
  height: 200px;
  background-color: #3e61fe;
  transform: rotate(45deg);
  transition: 0.2s all ease;
}

.about_us_images {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
  margin-right: 10px;
}
@media screen and (max-width: 1200px) and (min-width: 997px) {
  .about_us_images {
    margin-left: 40px;
  }
}
@media screen and (max-width: 996px) and (min-width: 767px) {
  .about_us_images {
    margin-left: 30px;
  }
}
@media screen and (max-width: 767px) and (min-width: 577px) {
  .about_us_images {
    margin-left: 20px;
  }
}
@media screen and (max-width: 576px) and (min-width: 426px) {
  .about_us_images {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .about_us_images {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.about_us_images .about_us_image_container {
  position: relative;
  max-width: 351px;
  height: 234px;
  align-self: flex-start;
  overflow: hidden;
}
@media screen and (max-width: 996px) and (min-width: 767px) {
  .about_us_images .about_us_image_container {
    height: auto;
  }
}
@media screen and (max-width: 767px) and (min-width: 577px) {
  .about_us_images .about_us_image_container {
    height: 200px;
    align-self: center;
    width: 100%;
  }
}
@media screen and (max-width: 576px) and (min-width: 426px) {
  .about_us_images .about_us_image_container {
    width: 500px;
    align-self: center;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .about_us_images .about_us_image_container {
    min-width: 300px;
    align-self: center;
  }
}
.about_us_images img {
  display: block;
}
@media screen and (max-width: 767px) and (min-width: 577px) {
  .about_us_images img {
    max-width: 135%;
  }
}
@media screen and (max-width: 576px) and (min-width: 426px) {
  .about_us_images img {
    max-width: 150%;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .about_us_images img {
    max-width: 150%;
  }
}
.about_us_images .about_us_image_container:last-child {
  margin-top: 7px;
  align-self: flex-end;
}
@media screen and (max-width: 767px) and (min-width: 577px) {
  .about_us_images .about_us_image_container:last-child {
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) and (min-width: 426px) {
  .about_us_images .about_us_image_container:last-child {
    align-self: center;
    margin-top: 20px;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .about_us_images .about_us_image_container:last-child {
    align-self: center;
    margin-top: 20px;
  }
}
.about_us_images .about_us_image_container:last-child img {
  margin-top: 21px;
  transform: scale(1.2);
}

.how_it_works {
  background-color: #333333;
}

.how_it_works_container {
  position: relative;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .how_it_works_container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.dotted_path {
  width: 100%;
  position: absolute;
  display: flex;
  top: 50px;
  justify-content: center;
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .dotted_path {
    display: none;
  }
}
.dotted_path svg {
  width: 70%;
}

.how_it_works_content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  display: flex;
  height: auto;
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .how_it_works_content {
    flex-direction: column;
    width: auto;
    justify-content: center;
  }
}

.how_it_works_item {
  width: 220px;
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .how_it_works_item {
    margin-bottom: 25px;
  }
}
.how_it_works_item .how_it_works_img_container {
  display: flex;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #333333;
  z-index: 2;
  margin-bottom: 13px;
}
@media screen and (max-width: 576px) and (min-width: 426px) {
  .how_it_works_item .how_it_works_img_container {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .how_it_works_item .how_it_works_img_container {
    width: 80px;
    height: 80px;
  }
}
.how_it_works_item .how_it_works_img_container svg {
  z-index: 10;
  margin: auto;
}
.how_it_works_item .how_it_works_text {
  font-family: "Aleo-Regular", serif;
  line-height: 26px;
  color: #fff;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 40px;
}

.country_section {
  position: relative;
}

.country {
  height: 700px;
}

.conutry_1 {
  background-image: url("./../images/render-1477041_1280.jpg");
  background-position: 0 97%;
}
@media screen and (max-width: 1200px) and (min-width: 997px) {
  .conutry_1 {
    background-position: 35% 97%;
  }
}
@media screen and (max-width: 996px) and (min-width: 767px) {
  .conutry_1 {
    background-position: 45% 97%;
  }
}
@media screen and (max-width: 767px) and (min-width: 426px) {
  .conutry_1 {
    background-position: 46.5% 97%;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .conutry_1 {
    background-position: 46.5% 97%;
  }
}

.country_container {
  height: 700px;
  display: flex;
}
@media screen and (max-width: 996px) and (min-width: 767px) {
  .country_container {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) and (min-width: 426px) {
  .country_container {
    justify-content: center;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .country_container {
    justify-content: center;
  }
}

.country_content {
  margin-top: 230px;
  width: 540px;
  height: 371px;
  background: rgba(36, 36, 36, 0.9);
  padding-top: 40px;
  padding-left: 30px;
}
@media screen and (max-width: 576px) and (min-width: 426px) {
  .country_content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 40px;
    padding-left: 0px;
    text-align: center;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .country_content {
    margin-top: 160px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 40px;
    padding-left: 0px;
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.country_content .country_content_country {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 1.25rem;
  color: white;
  text-transform: uppercase;
  text-transform: capitalize;
  letter-spacing: 2.175px;
  margin-bottom: 23px;
}
.country_content .country_content_place {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 1.25rem;
  color: white;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.country_content .country_content_desc {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 1rem;
  color: #e8e8e8;
  margin-bottom: 45px;
}

.conutry_2 {
  background-image: url("../../dist/images/spain-1859434_1280.jpg");
  background-position: 0 97%;
}
@media screen and (max-width: 1200px) and (min-width: 997px) {
  .conutry_2 {
    background-position: 35% 97%;
  }
}
@media screen and (max-width: 996px) and (min-width: 767px) {
  .conutry_2 {
    background-position: 35% 97%;
  }
}
@media screen and (max-width: 767px) and (min-width: 426px) {
  .conutry_2 {
    background-position: 25% 97%;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .conutry_2 {
    background-position: 25% 97%;
  }
}

.self_end {
  justify-content: flex-end;
}
@media screen and (max-width: 996px) and (min-width: 315px) {
  .self_end {
    justify-content: center;
  }
}

.review_section {
  position: relative;
  background-image: url("./../images/pexels-photo-131756.jpg");
  height: 730px;
  background-position: 0 49%;
  z-index: 0;
}
.review_section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 730px;
  left: 0;
  top: 0;
  background-color: rgba(36, 36, 36, 0.7);
  z-index: -1;
}
@media screen and (max-width: 1200px) and (min-width: 997px) {
  .review_section {
    background-position: 20% 49%;
  }
}
@media screen and (max-width: 996px) and (min-width: 767px) {
  .review_section {
    background-position: 13% 49%;
  }
}
@media screen and (max-width: 767px) and (min-width: 426px) {
  .review_section {
    background-position: 15% 49%;
    height: auto;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .review_section {
    background-position: 18% 49%;
    height: auto;
  }
}
.review_section .review_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review_section .review_header {
  font-family: "Aleo-Regular", serif;
  line-height: 26px;
  color: #fff;
  font-weight: 500;
  font-size: 2.25rem;
  margin-top: 120px;
  margin-bottom: 100px;
  text-align: center;
  line-height: 45px;
}
.review_section .review_content {
  display: flex;
  width: 100%;
  min-height: 284px;
  background-color: #333333;
  align-items: center;
}
@media screen and (max-width: 767px) and (min-width: 426px) {
  .review_section .review_content {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .review_section .review_content {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
.review_section .review_content .review_image {
  position: relative;
  width: 37%;
  height: 284px;
  overflow: hidden;
}
@media screen and (max-width: 767px) and (min-width: 315px) {
  .review_section .review_content .review_image {
    width: 100%;
  }
}
.review_section .review_content .review_image img {
  position: absolute;
  max-width: 130%;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 1200px) and (min-width: 997px) {
  .review_section .review_content .review_image img {
    max-width: 150%;
  }
}
@media screen and (max-width: 996px) and (min-width: 767px) {
  .review_section .review_content .review_image img {
    max-width: 165%;
  }
}
@media screen and (max-width: 767px) and (min-width: 577px) {
  .review_section .review_content .review_image img {
    top: -150px;
    max-width: 165%;
  }
}
@media screen and (max-width: 576px) and (min-width: 426px) {
  .review_section .review_content .review_image img {
    top: -130px;
    max-width: 165%;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .review_section .review_content .review_image img {
    max-width: 165%;
  }
}
.review_section .review_text_container {
  width: 63%;
  padding: 45px 40px;
}
@media screen and (max-width: 1200px) and (min-width: 997px) {
  .review_section .review_text_container {
    padding: 30px 20px;
  }
}
@media screen and (max-width: 996px) and (min-width: 767px) {
  .review_section .review_text_container {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 767px) and (min-width: 426px) {
  .review_section .review_text_container {
    padding: 20px 10px;
    width: 100%;
  }
}
@media screen and (max-width: 425px) and (min-width: 315px) {
  .review_section .review_text_container {
    padding: 20px 10px;
    width: 100%;
  }
}
.review_section .review_text_container .review_author {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 1.25rem;
  color: white;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.review_section .review_text_container .review_text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 1rem;
  color: #e8e8e8;
  font-weight: 300;
}
.review_section .review_text_container .fa-quote-left {
  padding-right: 12px;
  padding-bottom: 10px;
  color: #5372fd;
}

footer {
  height: 270px;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer_logo {
  margin-top: 110px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 3.36px;
  margin-bottom: 15px;
}
footer .footer_slogan {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: white;
  margin-bottom: 28px;
}
@media screen and (max-width: 1200px) and (min-width: 997px) {
  footer {
    height: 230px;
  }
  footer .footer_logo {
    margin-top: 70px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 996px) and (min-width: 767px) {
  footer {
    height: 180px;
  }
  footer .footer_logo {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) and (min-width: 315px) {
  footer {
    height: 170px;
  }
  footer .footer_logo {
    margin-top: 25px;
    margin-bottom: 10px;
  }
}

.socials {
  display: flex;
  justify-content: center;
}

.social_icon {
  padding: 0 10px;
}

.socials_fill {
  fill: #E8E8E8;
}

.yo_icon, .pi_icon {
  margin-top: 3px;
}

.pi_icon {
  margin-top: 2px;
}

.tw_icon {
  margin-top: 2px;
}

.fe_icon:hover {
  fill: #0777E8;
}

.tw_icon:hover {
  fill: #1DA1F2;
}

.li_icon:hover {
  fill: #0266C3;
}

.yo_icon:hover {
  fill: #FF3E3E;
}

.pi_icon:hover {
  fill: #C42026;
}
